*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 1.4;
  padding: 3rem;
}

.heading {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 1.3;
}

.para {
  font-size: 2.5rem;
  font-weight: 500;
}

.title {
  text-align: center;
  margin: 4rem auto 3rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
}

/* .flip-card {
  background-color: #ffaafa;
}
.flip-card .flip-card-inner {
  /* height: 40rem; */
/* } */

/* .flip-card .flip-card-front {
  background-color: red;
  /* z-index: 10; */
/* height: 40rem; */
/* } */
.flip-card .flip-card-front img {
  height: 100%;
  width: 100%;
}

.flip-card .flip-card-back {
  background-color: #ff5722;
  /* height: 40rem; */
  color: #fff;
  transform: rotateY(180deg);
  z-index: 1;
}

.flip-card .flip-card-back .back-header {
  height: 45%;
  text-align: center;
}

.flip-card .flip-card-back .back-header img {
  width: 50%;
  margin-top: 2rem;
}
.flip-card .flip-card-back {
  padding: 0 3rem;
  font-size: 1.5rem;
}
.flip-card .back-footer {
  margin-top: 5rem;
}

.flip-card .flip-card-inner {
  position: relative;
  height: 45rem;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-back,
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card a {
  text-decoration: none;
  width: 9rem;
  display: inline-block;
  text-align: center;
  padding: 7px 5px;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 3rem;
  transition: 0.5s;
}
.btn-container {
  text-align: center;
}
.flip-card a:hover {
  background-color: #000;
  border: 1px solid #000;
}
